.mod-websites-process {
  padding-top: 125px;
  padding-bottom: 280px;

  @media (max-width:992px) {
    margin-bottom: 40px;
    padding-bottom: 80px;
  }

  &::before {
    background: url('../../upload/websites-process/bg.png') no-repeat;
  }

  .process-items__slider {
    min-height: 35vh;

    @media (max-width:1200px) {
      .owl-item:hover+.owl-item .wrap:after {
        color: var(--main-color);
      }
    }

  }

  .process-item {
    position: relative;
    // aspect-ratio: 2 / 1;
    min-height: 300px;

    @media (max-width: 1200px) {
      min-height: 220px;
    }

    &__desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      overflow: hidden;
      height: 0;
      width: 0;
      visibility: hidden;
      opacity: 0;
      transition: transform 0.3s ease;
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 33px;
    position: relative;

    .subtitle {
      flex: 0;
      display: flex;
      align-items: center;

      font-size: clamp(16px, 2vw, 24px);
      font-weight: 600;
      line-height: 120%;
      color: #fff;

      text-wrap: balance;
      min-height: 55px;
    }

    &:after {
      font-size: 1.5rem;
      color: white;
      position: absolute;
      content: var(--process-number, '');
      left: var(--pos-left, 0);
      top: var(--pos-top, 0);
      width: auto;
      height: auto;
      transform: translateY(-50%);
      z-index: 2;
    }

    // hover
    &:hover {

      .subtitle {
        color: var(--main-color);
      }

      svg {
        z-index: -1;
      }

      svg use {
        fill: #fff;
      }
    }

    div:first-child {
      padding-bottom: 1.5rem;
    }

    // base SVG
    svg {
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s;
      fill: none;
      stroke: white
    }

    svg path {
      transition: .3s;
    }

    svg.main-svg,
    svg.dop {
      fill: #fff;
    }
  }

  // base
  .text-center {
    margin-top: -20px;
  }
}

.mod-websites-process .process-item:hover+.process-item .wrap:after {
  color: var(--main-color);
}

@media (min-width: 1200px) {

  .mod-websites-process {

    .process-item {

      &:nth-child(3):hover .process-item__desc,
      &:nth-child(2):hover .process-item__desc {
        text-align: end;
      }
    }

    .wrap:hover {

      .subtitle {
        display: none;
      }

      .process-item__desc {
        align-items: end;
        gap: 1rem
      }

      .process-item__text {
        max-width: 15rem;
        height: 100%;
        width: 100%;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        color: var(--main-color);

        font-size: .7rem;
        margin: 0;
      }

    }
  }


  .mod-websites-process .wrap:hover .dop {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1200px) {
  .mod-websites-process {
    .wrap {
      min-height: auto;
      padding: 13%;
    }

    .owl-item+.owl-item {
      margin-left: -5.66vw;
    }
  }
}

@media (max-width: 992px) {
  .mod-websites-process {
    .wrap {
      padding: 8%;

      .title {
        font-size: 2rem;
      }
    }

    .owl-item+.owl-item {
      margin-left: -5.4vw;
    }
  }
}

@media (max-width: 860px) {
  .mod-websites-process {
    .wrap {
      padding: 14%;
    }

    .owl-item+.owl-item {
      margin-left: -8.25vw;
    }
  }
}

@media (max-width: 768px) {
  .mod-websites-process {
    .wrap {
      padding: 11%;
    }

    .owl-item+.owl-item {
      margin-left: -10vw;
    }
  }
}

@media (max-width: 730px) {
  .mod-websites-process {
    .owl-item+.owl-item {
      margin-left: -8vw;
    }
  }
}

@media (max-width: 599px) {
  .mod-websites-process .wrap {

    padding: 5%;
  }
}

@media (max-width: 576px) {
  .mod-websites-process .wrap {

    padding: 14%;
  }
}

@media (max-width: 490px) {
  .mod-websites-process {
    .owl-item+.owl-item {
      margin-left: -17vw;
    }
  }
}

@media (max-width: 450px) {
  .mod-websites-process {
    .owl-item+.owl-item {
      margin-left: -15vw;
    }
  }
}

@media (max-width: 360px) {
  .mod-websites-process .wrap {
    padding: 6%;
  }
}

.mod-websites-process .wrap svg.main-svg,
.mod-websites-process .wrap svg.dop {
  position: unset;
  z-index: 1;
}

.mod-websites-process .wrap svg.main-svg path,
.mod-websites-process .wrap svg.dop path {
  transition: .3s;
}

.mod-websites-process .wrap:hover svg.main-svg use,
.mod-websites-process .wrap:hover svg.dop use {
  fill: #0C5ADB !important;
}

.mod-websites-process .wrap.main {
  border: none;
  padding: 0;
}

.mod-websites-process .wrap img {
  width: max-content;
}

.mod-websites-process .title {
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}

.mod-websites-process .col-lg-4:nth-child(2) .wrap {
  padding: 45px 20px;
}

.mod-websites-process .col-lg-4:nth-child(3) .wrap svg {
  left: -11px;
}

.mod-websites-process .col-lg-4:nth-child(3) .wrap {
  padding: 45px 20px;
}

.mod-websites-process .col-lg-4:nth-child(4) .wrap svg {
  top: -30px;
  left: 19px;
}

.mod-websites-process .col-lg-4:nth-child(4) .wrap {
  padding: 0px 45px 80px 45px;
}

.mod-websites-process .col-lg-4:nth-child(5) .wrap svg {
  left: -66px;
  top: -25px;
}

.mod-websites-process .col-lg-4:nth-child(5) .wrap {
  padding: 0px 45px 80px 45px;
}

.mod-websites-process .col-lg-4:nth-child(6) .wrap svg {
  top: -29px;
  left: -77px;
}

.mod-websites-process .col-lg-4:nth-child(6) .wrap {
  padding: 0px 45px 80px 45px;
}

.mod-websites-process .btn {
  margin: 0 auto;
}


@media screen and (max-width: 1200px) {

  .mod-websites-process .owl-stage {
    padding-left: 0 !important;
  }

  .mod-websites-process .subtitle {
    text-align: center;
  }

  .mod-websites-process .wrap {
    justify-content: center;
    align-items: center;
  }

  .mod-websites-process .wrap img {
    margin-left: 0 !important;
    margin-bottom: 35px;
  }

  .mod-websites-process .wrap .dop-wrap img {
    position: absolute;
    top: 10%;
    right: 0;
  }

  .mod-websites-process .owl-carousel {
    padding-bottom: 8rem;
    min-height: 20vh;
  }

  .mod-websites-process .process-item {
    width: 100%;
    height: 100%;
  }

  .mod-websites-process .owl-carousel .owl-nav {
    max-width: 9rem;
    top: unset;
    left: 22%;
    bottom: 6rem;
  }

  .mod-websites-process .item__puzzle {
    width: fit-content;
    height: fit-content;
    width: 100% !important;
    height: 100% !important;
  }

  .mod-websites-process .wrap svg.main-svg {
    max-width: 3rem;
    max-height: 3rem;
  }

  .mod-websites-process .wrap svg {
    left: auto;
  }

  .mod-websites-process .wrap svg.dop {
    position: absolute;
    right: 22%;
    top: 10%;
    width: fit-content;
    max-width: 1.5rem;
  }

  // test

  // .owl-item+.owl-item {
  //   margin-left: calc(100vw - 111vw)
  // }

}