/* FONTS */
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

/* /FONTS */


// MOBILE-BURGER
/****************
* Burger Styles *
*****************/
    
// .burger__bar:nth-child(1){
//     transition: 0.1;

// }
// .burger:hover .burger__bar:nth-child(1){
//     width: 50%;
//     left: 20px;
// }

.burger {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 4;



    &__bar {
      height: 10%;
      border-radius: 10px;
      width: 80%;
      background-color: var(--base-black);
      display: block;
      position: absolute;
      left: 50%;
      animation-timing-function: ease-in-out;
      animation-play-state: paused;
      animation-duration: .4s;
      animation-fill-mode: both;
  
      &:nth-child(1) {
        top: 25%;
        transform: translate(-50%, 0%);
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-child(3) {
        bottom: 25%;
        transform: translate(-50%, 0%);
      }
    }
    
    &.close .burger__bar {
      animation-direction: reverse;
    }
    &.open .burger__bar {
      animation-direction: normal;
    }
    // default
    &.animate .burger__bar { 
      animation-play-state: running;
      &:nth-child(1) {
        animation-name: default-top;
      }
      &:nth-child(1) {
        animation-name: default-top;
      }
      
      &:nth-child(2) {
        animation-name: default-middle;
      }
      &:nth-child(3) {
        animation-name: default-bottom;
      }
    }
    
    &--merge.animate .burger__bar {
      animation-duration: .6s;
      animation-timing-function: ease;
      &:nth-child(1) {
        animation-name: merge-top;
      }
      &:nth-child(2) {
        animation-name: merge-middle;
      }
      &:nth-child(3) {
        animation-name: merge-bottom;
      }
    }
    
    &--rotate.animate .burger__bar {
      &:nth-child(1) {
        animation-name: rotate-top;
      }
      &:nth-child(2) {
        animation-name: rotate-middle;
      }
      &:nth-child(3) {
        animation-name: rotate-bottom;
      }
    }
    
    &--spin.animate .burger__bar {
      animation-duration: 1s;
      animation-timing-function: ease;
      
      &:nth-child(1) {
        animation-name: spin-top;
      }
      &:nth-child(2) {
        animation-name: spin-middle;
      }
      &:nth-child(3) {
        animation-name: spin-bottom;
      }
    }
  }
  
  /*__________________
         DEFAULT
  ____________________*/
  @keyframes default-top {
    50%  {
      top:50%;
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      top:50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  @keyframes default-middle {
    50%, 100% {visibility:hidden;}
  }
  @keyframes default-bottom {
    0%   {}
    25%  {}
    50%  {
      bottom:50%;
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      bottom:50%;
      transform: translate(-50%, 50%) rotate(45deg);
    }
  }
  // /MOBILE-BURGER
  

/* VARIABLES */
:root{
   --base-black: #232323;
   --grey-text: #616161;
   --blue: #0C5ADB;
}
/* /VARIABLES */

/* COMMON */
.swiper-pagination-bullet{
    background-color: #C0CEE4;
    opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--blue);
}
*{
    padding: 0;
    margin: 0;
    text-transform: none;
    font-family: OpenSans;
    text-decoration: none;
    font-style: normal;
    border: none;
    color: var(--base-black);
    font-size: 16px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
button{
    cursor: pointer;
}
[class*="btn"]{
    color: #fff;
    border-radius: 10px;
    padding: 19px 30px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    width: auto;
    gap: 25px;  
    justify-content: center;
}
[class*="btn"]:hover{
    background-color: #3A77DC;
    color: #fff;
}
[class*="btn"]:focus{
    background-color: #709CE5;
    color: #fff;
}
[class*="btn"]:disabled{
    background-color: #A3A3A3;
    color: #fff;
}

[class*="btn"]:hover svg path{
    fill: #fff;
}
[class*="btn"]:focus svg path{
    fill: #fff;
}
[class*="btn"]:disabled svg path{
    fill: #fff;
}



a{
    display: inline-block;
}
.the-title,
.the-title span{
    color: #000;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -1px;
}
.the-title span{
    color: #0C5ADB;
    line-height: 120%;
}
section:not(.banner){
    padding-top: 78px;
    padding-bottom: 100px;
}
.the-header-wrap{
    margin-bottom: 50px;
    &__title{
        grid-column: 1/8;
    }
    &__text{
        grid-column: 8/13;
        padding-top: 12px;
    }
}
.btn-all{
    background-color: var(--blue);
    border-radius: 10px;
    color: #fff;
    display: flex;
    gap: 25px;
    padding: 20px 30px;
    width:  fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.btn-all:hover{
    background-color: #3A77DC;
}
.btn-all:focus{
    background: #709CE5;
}
.btn-all:disabled{
    background: #A3A3A3;
}
.the-bottom{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    gap: 25px;
    box-shadow: 0px 7px 30px rgba(52, 87, 139, 0.1);
    &__btn{
        color: #fff;
        border-radius: 10px;
        padding: 19px 30px;
        background-color: var(--blue);
        display: flex;
        align-items: center;
        width: auto;
        gap: 25px;  
        /* btn */
        filter: drop-shadow(0px 5px 15px rgba(52, 87, 139, 0.3));
    }

    &__text{
        font-weight: 600;
    }
}
section .swiper-buttons{
    display: flex;
    position: relative;
    margin-top: 60px;
    gap: 30px;
    overflow: visible;
}
.swiper{
    padding-bottom: 30px;
}
section .swiper-button-next, .swiper-rtl .swiper-button-prev,
section .swiper-button-prev, .swiper-rtl .swiper-button-next{
    position: static;
}
section .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
section .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
}
section .swiper-buttons > *{
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 5px 15px rgba(52, 87, 139, 0.2));
    background-color: #fff;;
    border-radius: 50%;
}
.swiper-buttons > div{
    background: rgba(255, 255, 255, 0.7);
}

.swiper-buttons > div:hover,
.swiper-buttons > div:focus{
    background: rgba(255, 255, 255, 1);
}
.swiper-buttons > div:disabled{
    background: rgba(255, 255, 255, 0.3);
}
section .swiper-button-next svg, section .swiper-button-prev svg{
    height: auto;
    width: auto;
}
section:not(.banner) .swiper-slide-active{
    width: 80% !important;
}
section:not(.banner) .swiper-slide-active:last-of-type{
    width: 100% !important;
}
section .swiper-slide{
    height: auto;

border-radius: 10px;
padding: 33px 29px 28px;
background-color: #fff;
display: flex
;
gap: 15px;
flex-direction: column;
justify-content: space-between;
}

/* /COMMON */

/* HEADER */
.header{
    z-index: 1;
    background-color: #fff;
    &__top{
        padding: 24px 0;
        border: 1px solid #C5D6F2;        
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px
        }
    }
    &__menu-top{
        display: flex;
        gap: 5px 20px;
        flex-wrap: wrap;
    }
    &__open-form-btn{
        background: #0C5ADB;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
        padding: 13px 34px 15px;
    }
    &__contacts{
        display: flex;
        gap: 5px 44px;
        flex-shrink: 0;
    }
    &__phone{
        font-weight: 700;
        position: relative;
        padding-left: 29px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/phone.png');
            top: -2px;
            left: 0;
        }
        &__top{
            padding: 24px 0;
            
            .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
        }
    }
    &__email{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/email.png');
            background-repeat: no-repeat;
            top: 3px;
            left: 0;

        }
    }
    &__bottom{

        padding: 24px 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__navigation-bottom{
        display: flex;
        gap: 36px;
    }
    &__menu-bottom{
        display: flex;
        gap: 5px 20px;
        flex-wrap: wrap;

    }
    &__soc{
        display: flex;
        gap: 12px;
    }
    &__subitem:nth-of-type(2){
        display: flex;
        align-items: center;
    }
    &__breadcrumbs{
        position: absolute;
        display: flex;
        gap: 6px;
        left: 0;
        bottom: -99px;
    }
    &__breadcrumbs-item{
        font-size: 14px;
    }
    &__breadcrumbs-item-link{
        color: #848484;
        font-size: 14px;
    }
    box-shadow: 0px 12px 14px 0px rgba(11, 98, 172, 0.08);
    &__item-link:hover,
    &__subitem-link:hover{
        color: #3A77DC;
    }
    &__item-link:focus,
    &__subitem-link:focus{
        color: var(--blue)
    }
}
.header-mobile{
    &__item:hover{
        background-color: #F0F5FF;
    }
    &__item:hover &__item-link{
        color: #3A77DC;
    }
    &__item:focus{
        background-color: unset;
    }
    &__item:focus &__item-link{
        color: var(--blue);
    }
}
/* /HEADER */

/* FOOTER */
    .footer{
        padding-top: 47px;
        &__top-btn{
            padding: 13px 34px 15px;
        }
        &__top{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 45px;
            flex-wrap: wrap;
        }
        &__top-promo{
            max-width: 210px;
            width: 100%;
        }
        &__top-info{
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-items: flex-start;

        }
        &__top-contacts-wrap{
            display: flex;
            align-items: flex-start;
        }
        &__top-phone{
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 12px;
            flex-shrink: 0;
        }
        &__top-socs{
            display: flex;
            gap: 12px;
            margin-bottom: 22px;
        }
        &__top-email{
            padding-left: 30px;
            position: relative;
            flex-shrink: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
        }
        &__top-email::before{
            content: '';
            width: 20px;
            height: 16px;
            background-image: url('../img/icons/email.png');
            position: absolute;
            left: 0;
            top: 3px;
        }
        &__top-menu{
            display: flex;
            flex-direction: column;
            gap:12px;
        }
        &__top-contacts-wrap{
            flex-direction: row;
        }
        &__middle{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 45px;
            gap: 20px 40px
        }
        &__middle-partner-link{
            display: flex;
            gap: 12px;
            align-items: center;
        }
        &__middle-partners{
            display: flex;
            gap: 15px 25px;
            flex-wrap: wrap;
        }
        &__middle-inn-wrap{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        &__middle-partner-link{
            border: 1px solid var(--grey-text);
            padding: 6px 17px 6px 12px;
            border-radius: 0 30px 30px 20px;
            width: 147px;


        }
        &__bottom{
            display: flex;
            justify-content: space-between;
            padding-bottom: 54px;
        }
        &__bottom-link{
            font-size: 14px;
            font-size: 14px;
            line-height: 125%;
            color: var(--grey-text);
        }
        &__middle-partner-title{
            font-weight: 400;
            font-size: 14px;
            line-height: 125%;
            flex-shrink: 0;
        }
    }


/* /FOOTER */



/* MAIN */
.banner{
    background-image: url('../img/banners/banner__bg.png');
    background-repeat: no-repeat;
    background-position: right -170px;
    padding-top: 70px;
    background-size: 50%;
    &__content{
        grid-column: 1/8;
        padding-top: 60px;
        position: relative;
    }
    &__text{
        font-size: 20px;
        color: var(--grey-text);
        margin-bottom: 70px;
    }
    &__btn{
        background-color: #0C5ADB;
        color: #fff;
        display: flex;
        gap: 25px;
        align-items: center;
        padding: 19px 25px;
        border-radius: 10px;
    }
    &__slider{
        grid-column: 8/13;
        position: relative;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__slide{
        display: flex;   
        align-items: flex-start;
        gap: 19px;
    }
    &__slider-title{
        color: #0C5ADB;
        font-size: 45px;
        font-weight: 700;
        line-height: 89%;
    }
    &__anchor-link{
        color: #0C5ADB;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        gap: 17px;
    }
    padding-bottom: 80px;

    position: relative;
    // &::after{
    //     content: "";
    //     height: 700px;
    //     width: 900px;
    //     position: absolute;
    //     top: -230px;
    //     right: -390px;
    //     background-image: url('../img/banners/banner__bg.png');
    //     background-repeat: no-repeat;
    //     z-index: -1;
    // }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    top:unset;
    bottom: -40px;
}
.banner .swiper-pagination{
    text-align: left;
}

// .swiper-slide{
//     opacity: 0;
// }
// .banner__slide.swiper-slide-active{
//     opacity: 1;
// }
// .banner__slide.swiper-slide-next{
//     opacity: 0.5;
// }
.swiper-pagination{
    position: relative;
}
.myBannerSlider{
    margin-top: 103px;
}
.banner .grid{
}

.start-from{
    background: linear-gradient(91.61deg, #E7E9FB 14.14%, #EEFEFC 74.34%);
    box-shadow: inset 0px 6px 30px rgba(12, 49, 111, 0.1);
    &__card{
        grid-column: span 3;
        border-radius: 10px;
        padding: 33px 29px 28px;
        background-color: #fff;
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-wrap:nth-of-type(2){
        display: flex;
        flex-direction: column;

    }
    &__card-title{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 17px;
    }
    &__card-text{
        color: var(--grey-text);
        font-size: 14px;
    }
    &__card-img{
        margin-bottom: 19px;
    }
    &__card-btn{
        color: #fff;
        border-radius: 10px;
        padding: 16px 26px;
        background-color: var(--blue);
    }
    &__card-price{
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 500;
    }
}
.cases{
    &__filter{
        display: flex;
        gap: 10px 18px;
        flex-wrap: wrap;

        margin-bottom: 50px;
    }
    &__filter-item{
        color: var(--blue);
        border: 1px solid var(--blue);
        border-radius: 60px;
        padding: 20px 40px;
        background-color: #fff;
        &:hover{
            background-color: #3A77DC;
            color: #fff;
        }
        &:focus{
            background-color: #709CE5;
            color: #fff;
        }
    }
    &__filter-item.active{
        background-color: var(--blue);
        color: #fff;
    }
    &__item{
        grid-column: span 4;
        position: relative;
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__item.hidden{
        display: none;
    }
    &__item-img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    &__item::before{
        content: '';
        width: 100%;
        height: 28px;
        background-image: url('../img/cases-item-border.png');
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item-type{
        background-color: var(--blue);
        color: #fff;
        border-radius: 30px 0 30px 30px;
        padding: 5px 17px;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 100;
    }
    &__item-title{
        font-size: 24px;
        font-weight: 700;
    }
    &__list{
        row-gap: 40px;
        margin-bottom: 50px;
    }
}
.dev-proces{
    position: relative;
    background: linear-gradient(101.55deg, #0C5ADB 14.7%, #003996 92.47%);
    mix-blend-mode: multiply;
    box-shadow: inset 0px 6px 60px rgba(12, 49, 111, 0.9);

    &__item,&__header{
        grid-column: span 4;
        padding: 47px 42px 31px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 275px;
    }
    &__item:hover &__arrow-icon path{
        fill:#3A77DC;
    }
    &__item:focus &__arrow-icon path{
        fill:#709CE5;
    }
    // &__arrow-icon path {
    //     fill: red;
    // }
    &__header{
        padding-left: 0;
        color: #fff;
    }
    &__item:nth-of-type(2){
        background-color: #fff;
    }
    &__item:nth-of-type(3){
        background-color: #DDE9FF;
    }
    &__item:nth-of-type(2) &__title,
    &__item:nth-of-type(3) &__title{
        color: var(--blue);
    }
    &__title-wrap{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-end;
    }
    &__wrap{
        row-gap: 0;
    }
    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
    }
    &__header-mobile{
        color: #FFFFFF;
    }
    &__item.swiper-slide{
        background-color: unset;
        position: relative;
    }
    &__item.swiper-slide:nth-of-type(2),
    &__item.swiper-slide:nth-of-type(3){
        background-color: #FFF;
    }
    &__btn-all{
        margin-top: 40px;
        background-color: #fff;
        color: var(--blue);
    }

}

.tech{
    &__detail-item.hidden{
        display: none;
    }
    &__content{
        margin-top: 50px;
    }
    &__titles{
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-column: 1/5;
    }
    &__title{
        font-size: 18px;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        gap: 15px;
        border: 1px solid var(--blue);
        border-radius: 60px;
    }
    &__details{
        background: #FFFFFF;
        box-shadow: 0px 7px 30px rgba(52, 87, 139, 0.1);
        border-radius: 10px;
        padding: 67px;
        grid-column: 5/13;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__detail-item{
        font-size: 14px;
        padding: 13.5px 24px;
        border-radius: 60px 60px 60px 0px;

    }
    &__detail-item.cms,
    &__detail-item.design{
        color: #fff;
    }
    &__detail-item.design{
        background-color: var(--blue);
    }
    &__detail-item.cms{
        background: rgba(58, 119, 220, 0.8);
    }
    &__detail-item.framework{
        background: rgba(58, 119, 220, 0.5);
    }
    &__detail-item.backend{
        background: rgba(58, 119, 220, 0.3);
    }
}
.why-we{
        background: linear-gradient(91.61deg, #E7E9FB 14.14%, #EEFEFC 74.34%);
        box-shadow: inset 0px 6px 30px rgba(12, 49, 111, 0.1);
    &__item{
        grid-column: span 4;
        background: #FFFFFF;
        box-shadow: 0px 3px 30px rgba(86, 107, 139, 0.12);
        border-radius: 10px;
        padding: 34px 36px 44px;
        min-height: 310px;
    }
    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        margin-bottom: 15px;
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        color: var(--grey-text);
    }
    &__img{
        margin-bottom: 25px;
    }
}
.you-get{
    background: linear-gradient(91.61deg, #E7E9FB 14.14%, #EEFEFC 74.34%);
    mix-blend-mode: normal;
    box-shadow: inset 0px 6px 30px rgba(12, 49, 111, 0.1);
    &__wrap{
        grid-column: 1/5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__wrap-grid{
        grid-column: 5/13;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 30px;
    }
    &__item{
        grid-column: span 4;
    }
    &__item.swiper-slide{
        background-color: unset;
    }
    &__btn-all{
        margin-left: 0;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 125%;
    }
    .swiper-buttons{
        margin-bottom: 40px;
    }

}
.areas{
    &__item{
        display: flex;
        align-items: center;
        gap: 33px;
        background: #FFFFFF;
        border-radius: 10px;
        grid-column: span 4;
        box-shadow: 0px 7px 30px 0px rgba(52, 87, 139, 0.15);

    }
    &__title{
        font-weight: 600;
        line-height: 135%;
    }
    &__list{
        margin-bottom: 50px;
    }
}
.rate{
    background: linear-gradient(100.94deg, #0C5ADB 14.84%, #003996 93.33%);
    mix-blend-mode: multiply;
    box-shadow: 0px 7px 30px rgba(52, 87, 139, 0.45);

    .the-header-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #fff;
        &__title,&__text{
            color: #fff;
        }
        &__text{
            padding-top: 0;
            max-width: 740px;
            width: 100%;
            text-align: center;
        }
    }
    &__list{
        margin-bottom: 50px;
    }
    &__item{
        grid-column: span 3;
        background-color: #fff;
        padding: 30px 20px 56px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        &-title{
            font-weight: 700;
            font-size: 20px;
            line-height: 135%;
            margin-bottom: 15px;
        }
        &-wrap{overflow: hidden;}
        &-wrap:nth-of-type(2){
            display: flex;
            flex-direction: column;

        }
        &-price{
            font-weight: 400;
            font-size: 35px;
            line-height: 135%;
            margin-bottom: 30px;
            margin-top: 16px;
        }
        &-btn{
            padding: 16px 10px;
            justify-content: center;
        }
    }
    .btn-all{
        color: var(--blue);
        background-color: #fff;
        font-weight: 600;
        line-height: 125%;
        padding: 19px 24px;
    }
    .btn-all:hover{
        background-color: #3A77DC;
        color: #fff;
    }
    .btn-all:hover svg path{
        fill: #fff;
    }
    .btn-all:focus{
        background-color: #709CE5;
        color: #fff;
    }
    .btn-all:focus svg path{
        fill: #fff;
    }
    .btn-all:disabled{
        background-color: #A3A3A3;
        color: #fff;
    }
    .btn-all:disabled svg path{
        fill: #fff;
    }
    &__after-list{
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
}

.faq .the-title,
    .faq .the-title span{
        grid-column: 1/4;
    }
.faq{
    &__accordion{
        grid-column: 6/13;        
    }
}
.contacts{
    &__btn:hover{
        background-color: #3A77DC;
    }
    &__btn:focus{
        background-color: #3A77DC;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__info-item:first-of-type{
        display: flex;
        flex-wrap: wrap;
        gap: 4px 23px;
        max-width: 350px;
    }
    &__info-phone{
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
    }
    &__soc-icons{
        display: flex;
        gap: 12px;
    }
    &__schedual{
        position: relative;
        padding-left: 32px;
    }
    &__schedual::before{
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url('../img/icons/clock.png');
    }
    &__conf{
        padding-left: 30px;
        position: relative;
    }
}
.header-mobile{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__socs{
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }
    &__navigation-top{

    }
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #161A1D;
        margin-bottom: 18px;
    }
    .container:nth-of-type(2){
        flex-direction: column;
        align-items: flex-start;
    }
    &__item,
    &__subitem{
        border-bottom: 1px solid #C5D6F2;
        padding: 22px 0;
    }
    &__item.multiple.active .header-mobile__submenu {
        display: block;
    }
    &__item.multiple > .header-mobile__item-link{
        position: relative;
        padding-right: 20px;
    }
    &__item.multiple > .header-mobile__item-link::after {
        content: ''; 
        height: 17px;
        width: 8px;
        position: absolute;
        right: 0;
        top: 4px;
        background-image: url('../img/icons/mob-menu-arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__submenu{
        display: none;
    }
    &__phone{
        font-weight: 700;
    }
    &__menu{
        margin-bottom: 50px;
    }
    &__contacts.container{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;
    }
    &__email{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/email.png');
            background-repeat: no-repeat;
            top: 3px;
            left: 0;

        }
    }
    &__content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        padding-top: 20px;
        z-index: 2;
        width: 100vw;
        padding-bottom: 38px;

    }
}
.header-mobile__content.show{
    display: block;
}
section.contacts{
    padding-bottom: 0;
}
.contacts{
    background: linear-gradient(91.61deg, #E7E9FB 14.14%, #EEFEFC 74.34%);
    box-shadow: inset 0px 6px 30px rgba(12, 49, 111, 0.1);
    &__form-wrapper{
        position: relative;
    }
    &__form-wrapper::before,
    &__form-body::before{
        content:'';
        position: absolute;
        left: -24px;
        bottom: 0;
        background-image: url('../img/form-before.png');
        z-index: 2;
        width: calc(100% + 50px);
        height: 400px;
        background-size: cover;
    }
    &__form-body::before{
        left: -80px;
        width: calc(100% + 150px);
    }
    &__form-wrapper::after{
        content:'';
        position: absolute;
        left: -29px;
        bottom: 0;
        background-image: url('../img/form-after.png');
        z-index: unset;
        width: calc(100% + 58px);
        height: 770px;
        background-size: cover;
    }
    &__form-body{
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 7px 30px rgba(52, 87, 139, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 58px 58px 0;
        margin-left: 58px;
        margin-right: 50px;
        padding-bottom: 235px;
        position: relative;
        z-index: 2;
        .the-title{
            margin-bottom: 30px;
            text-align: center;
        }
    }
    #input_name,
    #input_email,
    #input_phone,
    #input_comment{
        background-color: unset;
        border-bottom: 1px solid var(--base-black);
        flex-grow: 1
    }

    #input_name::placeholder,
    #input_email::placeholder,
    #input_phone::placeholder,
    #input_comment::placeholder{
        font-size: 14px;
        color: var(--base-black);

        font-weight: 400;
    }
    #input_name:focus-visible,
    #input_email:focus-visible,
    #input_phone:focus-visible,
    #input_comment:focus-visible{
        outline: none;
      }

    #input_name,
    #input_email,
    #input_phone,
    #input_comment{
        padding-bottom: 18px;
        font-size: 14px;
        color: var(--base-black);
        font-weight: 600;
    }
    #input_comment{
        width: 100%;
    }
    &__inputs{
        display: flex;
        gap: 30px;
        width: 100%;
        margin-bottom: 30px;
    }
    &__inputs:nth-of-type(2){
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }
    &__form{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        position: relative;
        z-index: 3;
    }
    &__form-subtitle {
        max-width: 480px;
        width: 100%;
        text-align: center;
        margin-bottom: 36px;
    }
    &__pseudo-files{
        // padding-left: 33px;
        position: relative;
        z-index: 4;
    }
    &__pseudo-files svg{
        position: relative;
        top: 5px;
        left: 0;
    }
    [for="agree_conf"]{
        font-size: 14px;
    }
    .agree{
        &__pseudo-checbox{
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/checkbox-empty.png');
            position: absolute;
            left: 0;
            top: 10px;
        }
    }
    #agree_conf:checked + .agree__pseudo-checbox{
        background-image: url('../img/icons/checkbox-agree.png');
        }
    #agree_conf:not(:checked) + .agree__pseudo-checbox{
        background-image: url('../img/icons/checkbox-empty.png');
    }
    #input_file,#agree_conf{
        pointer-events: none;
        position: absolute;
        visibility: hidden;
    }
    &__btn-wrap{
        padding: 0;
        align-self: center;
        position: relative
    }
    &__btn-wrap::after{
        content: '';
        position: absolute;
        right: 25px;
        top: 22px;
        background-image: url('../img/icons/email-white.png');
        width: 22px;
        height: 18px;
    }
    &__btn{
        align-self: center;
        position: relative;
        padding-right: 66px;
    }
    &__pseudo-files:hover,
    &__pseudo-files:hover svg path{
        color: #3A77DC;
        fill: #3A77DC;
    }
    &__pseudo-files:focus,
    &__pseudo-files:focus svg path{
        color: #709CE5;
        fill: #709CE5;
    }
    &__conf-link{
        font-size: 14px;
    }
}


/* /MAIN */



































































































































//----------- MEDIA -------------
@media screen and (max-width: 1300px) {
    .container{
        margin-left: 40px;
        margin-right: 40px;
        max-width: unset;
        width: auto;
    }
    .header{
        &__contacts{
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 1300px) {
    ul.grid>*{
        grid-column: span 4;
    }
}

@media screen and (max-width: 1100px) {
    
.you-get{
    &__wrap{

    }
}
.faq{
    &__accordion, .the-title{
    grid-column: 1/13;    
    }
    &__accordion{
        max-width: unset;
    }
}
.contacts{
    &__form-body::before{
        left: -50px;
        width: calc(100% + 100px);
    }
    &__inputs{
        flex-direction: column;
    }
    &__form-body{
        margin-left: 30px;
        margin-right: 30px;
    }
    &__form{
        padding: 0;
    }
}
}

@media screen and (max-width: 1000px) {
.contacts{
    &__header{
        flex-direction: column;
        align-items: flex-start;
    }
    &__form-body{
        padding-bottom: 113px;
    }
    &__form-wrapper::before,
    &__form-body::before{
        height: 220px;
    }
    &__form-wrapper::after{
        height: 510px;
    }
    &__form-wrapper::after{
        left: -23px;
        width: calc(100% + 48px);
    }
    &__form-wrapper::before {
        left: -18px;
        width: calc(100% + 36px);
    }
}
}

@media screen and (max-width: 900px) {
    ul.grid>*{
            grid-column: span 6;
        }
    .tech{
        &__titles,
        &__details{
            grid-column: 1/13;
        }
    }
}

@media screen and (min-width: 769px) {
   .header-mobile{
    display: none;
   }
   .banner{
    &__img-mobile{
        display: none;
    }
   }
   .start-from__mobile-slider{
    display: none;
} 
    .why-we{
        &__mobile-slider{
            display: none;
        }
    }
    
    .dev-proces{
        &__wrap-mobile{
            display: none;
        }
    }
    .you-get{
        &__mobile-slider{
            display: none;
        }
    }
    .cases{
        &__filter-icon{
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    
    .active .header-mobile__item-link{
        display: none;
    }
    .header-mobile{
        &__item{
            border-bottom: none;
        }
    }
    .contacts{
        &__form{
            input{
                width: 100%
            }
        }
    }
    .cases{
        &__filter-item.active{
            background-color: unset;
            color: #fff;
            order: -1;
            color: #616161;
            border: 1px solid #616161; 
            width: 100%;
            padding: 20px;
            text-align: left;
            display: inline-flex;
        }
        &__filter-item.active{
            order: -1;
        }
        &__filter-item:not(.active){
            width: 100%;
            text-align: left;
            padding: 0 20px;
            color: #616161;
            border: none;
            display: none;
            transition: .5ms;
        }
        &__filter-item:hover{
            // color: #fff;
        }
        &__filter{
            gap: 20px;
            position: relative;
            transition: 0.5ms;
        }
        &__filter.opened &__filter-item:not(.active){
            // border: 3px solid red;
            display: inline-flex;
        }
        &__filter-icon{
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            top: 10px;
            right: 12px;
            background-image: url('../img/icons/filter-arrow.png');
        }
        &__filter.opened &__filter-icon{
            transform: rotate(180deg);
        }        
    }
    .you-get{
        &__wrapper{
            display: none;
        }
    }
    .dev-proces{
        &__wrap{
            display: none;
        }
        &__arrow-icon{
            position: absolute;
            right: 29px;
            top: 33px;
        }
        &__item.swiper-slide{
            justify-content: center;
            align-items: center;
            gap: 35px;
        }
        &__title{
            text-align: center;
        }
    }
    .footer{
        &__top-info{
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            gap: 60px;
        }
        &__logo{
            width: 113px;
            height: 42px;
        }
        &__top-contacts-wrap{
            flex-direction: column;
        }
        &__top-contacts{
            display: flex;
            gap: 0 28px;
            flex-wrap: wrap;
        }
        &__top-socs{
            margin-bottom: 20px;
        }
        &__top-email{
            margin-bottom: 40px;
        }
        &__bottom{
            flex-direction: column;
            gap: 15px;
        }
    }
    .rate{
        &__after-list{
            margin-top: 40px;
            text-align: left;
        }
        &__list{
            display: none;
        }
    }
    .areas{
        &__list{
            margin-bottom: 40px;
        }
    }
    .swiper{margin-top: 30px;}
    .btn-all{
        margin-left: 0;
    }
    .areas{
        &__item{
            display: none;
        }
        &__list{
            margin-bottom: 40px;
        }
        &__icon {
            height: 82px;
            width: 100%;
            object-fit: contain;
            background: #3A77DC;
            border-radius: 10px 10px 10px 0;

        }
        &__item:nth-of-type(-n+4){
            display: flex;
            grid-column: span 2;
            flex-direction: column;
        }
    }
    .the-header-wrap{
        margin-bottom: 40px;
        &__text{
            padding-top: 0;
        }
    }
    .the-title, .the-title span{
        margin-bottom: 0;
    }
    .myBannerSlider{
        margin-top: 7px;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0;
    }
    .the-title, .the-title span{
        font-size: 30px;
        line-height: 34px;
    }
    .the-header-wrap{
        &__title,&__text{
            grid-column: 1/5;
        }
    }
    .the-bottom{
        flex-direction: column;
    }


    .start-from{
        &__card-list{
            display: none;
        }
    }
    .header{
        display: none;
        &__breadcrumbs{
            bottom: -48px;
        }
    }
    .header-mobile{
        padding: 11px 0 13px;        
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    section.banner .container{
            display: flex;
            flex-direction: column;
    }
    .banner{

        &__content,
        &__slider{
            grid-column: 1/5;
        }
        &__slider{
            display: flex;
            flex-direction: column;

        }
        .swiper-pagination{
            text-align: center;
        }
        &__img{
            display: none;
            border: 4px solid red;
        }
        &__img-mobile{
            order: 3;
            width: calc(100% + 80px);
            position: relative;
            left: -40px;
        }
        &__text{
            margin-bottom: 30px;
        }
    }
    .myBannerSlider{
        width: 100%;
    }
    .tech{
        &__titles,
        &__details{
            grid-column: 1/5;
        }
        &__details{
            padding: 14px 14px 18px;
        }
    }
    .banner{
        // &__img{
        //     display: none;
        // }
    }
    .why-we{
        &__list{
            display: none;
        }
    }
    .agree{
        &_conf{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 680px) {
    .contacts{
        &__form-wrapper::after{
            height: 410px;
        }
        &__form-body{
            padding: 30px 30px 150px;
        }
    }
}

@media screen and (max-width: 530px) {
    .contacts{
        &__form-wrapper::after{
            height: 370px;
        }
    }
}
@media screen and (max-width: 480px) {
    .contacts{
        &__form-wrapper::before,
        &__form-body::before{
            height: 180px;
            bottom: -10px;
        }
        &__form-body::before{
            left: -40px;
            width: calc(100% + 80px);

        }
        &__form-wrapper::after {
            height: 330px;
        }
        &__form-wrapper::before{
            width: calc(100% + 18px);
            left: -8px;
        }
        &__form-wrapper::after{
            width: calc(100% + 23px);
            left: -13px;
        }
    }

}
@media screen and (max-width: 460px) {
    .container{
        margin-left: 20px;
        margin-right: 20px;
        max-width: unset;
        width: auto;
    }
    .banner{
        &__img-mobile {
            order: 3;
            width: calc(100% + 40px);
            position: relative;
            left: -20px;
        }
    }
}

@media screen and (max-width: 400px) {
.contacts{
    &__form-wrapper::after {
        height: 300px;
    }
}
}

@media screen and (max-width: 380px) {
    .container{
        margin-left: 15px;
        margin-right: 15px;
        max-width: unset;
        width: auto;
    }
    .banner{
        &__img-mobile {
            order: 3;
            width: calc(100% + 30px);
            position: relative;
            left: -15px;
        }
    }
    .contacts{
        &__form-body{
            padding-bottom: 130px;
        }
    }
}